body {
    margin: 0;
}

    body > table {
        width: 1000px;
        padding: 0 50px;
        margin: 0 auto;
        color: rgba(112, 112, 112, 1);
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
        font-weight: lighter;
        table-layout: fixed;
    }

        body > table > tr {
            margin-top: 10px;
        }

.heading {
    text-align: left;
    font-weight: bold;
    color: black;
}

.p-t-20 {
    padding-top: 20px;
}

.p-l-30 {
    padding-left: 30px;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.center-align {
    text-align: center;
}

.bottom-align {
    vertical-align: bottom;
}

.header-image {
    height: 200px;
}

.footer-image {
    width: 165px;
}

.seperator {
    border-top: 1px solid #108e8e;
}

.description {
    text-align: left;
    padding-left: 490px;
    width: 70%;
}

.value {
    text-align: right;
    width: 30%;
}

.footer {
    margin-top: 75px;
    font-size: 15px;
}

.w-100 {
    width: 100%;
}
