/src/.vs

/src/API/bin
/src/API/obj
/src/API/Uploads
/src/API/Logs
/src/API/Properties/PublishProfiles

/src/Constants/bin
/src/Constants/obj

/src/DatabaseModel/bin
/src/DatabaseModel/obj

/src/DTOs/bin
/src/DTOs/obj

/src/Integrations/bin
/src/Integrations/obj

/src/packages

/src/Services/bin
/src/Services/obj

/src/Utilities/bin
/src/Utilities/obj
