<appSettings>
  <add key="SendGridSuperAdminAPIKey" value="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" />
  
  <add key="ChangeEmailOTPFromEmailAddress" value="cantaxi.logicstones@gmail.com" />
  <add key="ChangeEmailOTPFromDisplayName" value="CanTaxi Support" />
  <add key="ChangeEmailOTPEmailSubject" value="Welcome to CanTaxi fleet management system !!" />

  <add key="ResellerID" value="73BABE98-3CA1-49E0-BE0A-1638B154762D"/>
  <add key="ApplicationID" value="CF8AF4B2-371D-46DD-AD66-65B6A26FB889"/>

  <add key="TwilioAccountSid" value="ACb6a0d4de06dc5185920d40b142da2ad8"/>
  <add key="TwilioAuthToken" value="38387d7e8e7f1c711463f48eb4e9c0d0"/>
  <add key="TwilioFromNumber" value="+436703082338"/>

  <add key="SuperAdminUrl" value="http://admin.cantaxi.at" />
  <add key="ResellerUrl" value="http://reseller.cantaxi.at" />
  <add key="ApplicationUrl" value="http://application.cantaxi.at" />
  <add key="BusinessUrl" value="http://business.cantaxi.at" />
  <add key="CaptainUrl" value="http://captain.cantaxi.at" />
  <add key="UserUrl" value="http://passenger.cantaxi.at" />
  <add key="APIURL" value="http://api.cantaxi.at/" />

  <add key="FirebaseBasePath" value="https://cantaxi-230608.firebaseio.com/" />
  <add key="FirebaseAuthSecret" value="Q9ew9Na2tF4z2qrBqtky6wEkyfTaDKvpMUIBvB9d" />

  <add key="CangooUserName" value="karhoo.integration@cangoo.at" />
  <add key="CangooPassword" value="12345" />
  
  <add key="JWTSecretKey" value="715E54FFC0EBCAF88FC6D04218F0D33F8BE342CBD94D21EB18DE5B688E16539BB6C977FF2F03F8C8FC24AD14B09E34598E61EFCF4DE3F71C47E86144DB2D89C6" />
  <add key="JWT" value="12345" />

</appSettings>



<!--<appSettings>
  <add key="SendGridSuperAdminAPIKey" value="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" />
  <add key="AddResellerFromEmailAddress" value="support@cangoo.at" />
  <add key="AddResellerFromDisplayName" value="Cangoo Support" />
  <add key="AddResellerEmailSubject" value="Welcome to Cangoo fleet management system !!" />

  <add key="ResellerID" value="73BABE98-3CA1-49E0-BE0A-1638B154762D"/>
  <add key="ApplicationID" value="CF8AF4B2-371D-46DD-AD66-65B6A26FB889"/>

  <add key="TwilioAccountSid" value="ACb6a0d4de06dc5185920d40b142da2ad8"/>
  <add key="TwilioAuthToken" value="38387d7e8e7f1c711463f48eb4e9c0d0"/>
  <add key="TwilioFromNumber" value="Cangoo"/>

  <add key="SuperAdminUrl" value="https://admin.cangoo.at" />
  <add key="ResellerUrl" value="https://reseller.cangoo.at" />
  <add key="ApplicationUrl" value="https://application.cangoo.at" />
  <add key="BusinessUrl" value="https://business.cangoo.at" />
  <add key="CaptainUrl" value="https://captain.cangoo.at" />
  <add key="UserUrl" value="https://passenger.cangoo.at" />
  <add key="APIURL" value="https://api.cangoo.at/" />

  <add key="FirebaseBasePath" value="https://cangoo-c38cf.firebaseio.com/" />
  <add key="FirebaseAuthSecret" value="gS2zADB1mjBhoCgCbPPV8AA2UNGVVPQvR6uRhJcJ" />
</appSettings>-->