<connectionStrings>
  <add name="CangooEntities" connectionString="metadata=res://*/CangooEntities.csdl|res://*/CangooEntities.ssdl|res://*/CangooEntities.msl;provider=System.Data.SqlClient;provider connection string='data source=&quot;87.106.157.179\SQLEXRESS, 49170&quot;;initial catalog=DevCangoo;persist security info=True;user id=sa;password=@dmin@CanTaxi;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />  
  <add name="DefaultConnection" connectionString=" Data Source=87.106.157.179\SQLEXRESS, 49170; Initial Catalog=DevCangoo; user id=sa; password=@dmin@CanTaxi;" providerName="System.Data.SqlClient" /> 
</connectionStrings>