@section stylesheet
{
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/report.css" rel="stylesheet" />
}

<table width="100%" class="footer">
    <tr>
        <td>
            <hr class="seperator" />
        </td>
    </tr>
    <tr>
        <td>
            <table class="left-align w-100">
                <tr>
                    <th class="center-align">Ausgestellt von</th>
                    <th>Go4System GmbH</th>
                    <th>Bankverbindung</th>
                </tr>
                <tr>
                    <td></td>
                    <td>Laxenburgerstr. 216<br />1230 Wien<br />ATU74156129<br />info@cangoo.at</td>
                    <td>Erste Bank<br />IBAN:AT142011183985710702<br />BIC: GIBAATWW</td>
                </tr>
            </table>
        </td>
    </tr>
</table>