@section stylesheet
{
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/report.css" rel="stylesheet" />
}

<table width="100%" cellpadding="2">
    <tr style="padding-bottom:20px;">
        <td class="text-right">
            <img src="~/images/rechnung_1.png" class="header-image" />
        </td>
    </tr>
</table>