@section stylesheet
{
    <link href="~/Content/invoice.css" rel="stylesheet" />
}

<table cellpadding="2">
    <tr>
        <td class="right-align">
            <img src="~/images/rechnung_1.png" class="header-image" />
        </td>
    </tr>
</table>